body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.black-check {
  background-color: black;
}

td {
  padding: 25px;
}

.board-wrapper {
  border: 1px solid black;
}
